@model int[]
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <form method="post">
        <div>
            <label>Conjetura Collatz</label>
            <input type="text" name="numero" class="form-control" />
            <button type="submit" class="btn btn-success">Llamar a WCF Service Collatz</button>
        </div>
    </form>
</div>

@if(Model != null)
{
    <ul>
        @foreach (int i in Model)
        {
            <li>@i</li>
        }
    </ul>
}
