<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="cuentastorage" value="DefaultEndpointsProtocol=https;AccountName=storagetajamardvb;AccountKey=52v+x2byhZ0t+PdhXIBPwqLEmZNhxoxw8R0JtOljUfpDyFbFXJy9aBKDiE/7O8iKEeXnaIGpNT1TIy6PgVsYug==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>