
@{
    ViewData["Title"] = "Index";
}

<h2>CRUD API DEPARTAMENTOS</h2>
<ul>
    <li>
        <a asp-controller="Departamentos" asp-action="DepartamentosCliente">CRUD API Departamentos cliente (AJAX)</a>
    </li>
    <li>
        <a asp-controller="Departamentos" asp-action="DepartamentosServidor">CRUD API Departamentos Servidor</a>
    </li>
    <li>
        <a asp-controller="Departamentos" asp-action="EmpleadosDepartamento">Empleados Departamento</a>
    </li>
</ul>
