<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="LogicaCalculadora.Calculadora" behaviorConfiguration="enablemetadata">
        <!--<endpoint address="URL PUBLICACION" binding="TIPO DE COMUNICACION" contract="INTERFACE DE LOGICA"></endpoint>-->
        <endpoint address="" binding="wsHttpBinding" contract="LogicaCalculadora.IContratoCalculadora" />
        
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="enablemetadata">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>