<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="LogicaAlumno.ServiceAlumno" behaviorConfiguration="enablemetadata">
        <endpoint address="" binding="basicHttpBinding" contract="LogicaAlumno.IServiceAlumno"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="enablemetadata">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
